<div class="col-md-2 col-md-offset-3">

<table class="beginner-table table table-bordered">
  <caption>Beginner</caption>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <% var rank = 1 %>
    <% leaders.each(function (leader) { %>
      <tr>
        <th scope="row"><%= rank %></th>
        <td><%= leader.get('name') %></td>
        <td><%= leader.get('time') %></td>
      </tr>
      <% rank += 1 %>
    <% }) %>
  </tbody>
</table>

</div>

<div class="col-md-2">

<table class="beginner-table table table-bordered">
  <caption>Intermediate</caption>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <% rank = 1 %>
    <% leaders.each(function (leader) { %>
      <tr>
        <th scope="row"><%= rank %></th>
        <td><%= leader.get('name') %></td>
        <td><%= leader.get('time') %></td>
      </tr>
      <% rank += 1 %>
    <% }) %>
  </tbody>
</table>

</div>

<div class="col-md-2">

<table class="beginner-table table table-bordered">
  <caption>Expert</caption>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <% rank = 1 %>
    <% leaders.each(function (leader) { %>
      <tr>
        <th scope="row"><%= rank %></th>
        <td><%= leader.get('name') %></td>
        <td><%= leader.get('time') %></td>
      </tr>
      <% rank += 1 %>
    <% }) %>
  </tbody>
</table>

</div>
