<!DOCTYPE html>
<html>
<head>
  <title>MinesweeperLeague</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <h1>Welcome to Minesweeper League</h1>
  <h2>It may or may not sweep you off your feet</h2>
</nav>


<%= flash[:errors].join('<br>').html_safe if flash[:errors] %>

<%= yield %>

</body>
</html>
